body{
     background:url('../images/about-bg.jpg');
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
     
     
}

.row{
    display: flex;
    height: 88%;
    align-items: center;

}
 
.col{
    flex-basis:50%;

}

h1{
    margin-top: 30%;
    color:orange;
    font-size: 70px;
    margin-left: 19px;
}

p{
    padding-bottom: 30%;
    color: #fff;
    font-size: 30px;
    line-height: 35px;
    margin-left: 20px;
}

button{
    width: 180px;
    color: rgb(12, 12, 12);
    font-size: 15px;
    padding: 12px;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-left:60px;
    position: relative;
    bottom: 150px;
}

.grid{
    margin-left: 50px;
    width:200px;
    height:215px;
    display:inline-block;
    border-radius: 10px;
    padding:15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin:10px 15px;
    background-position: center;
    background-size:cover ;
    transition: transform 0.5s;
}

.card1{
    background-image: url('../images/paris.jpg');
}
.card2{
    background-image: url('../images/asia.jpg');
}
.card3{
    background-image: url('../images/africa.jpg');
}
.card4{
    background-image: url('../images/adventure.jpg');
}

.grid:hover{
    transform: translateY(-10px);
}

h5{
    color:rgb(15, 15, 15);
    text-shadow: 0 0 5px #999;
    font-size: 20px;
}

